files:
 "/etc/yum.repos.d/elastic.repo":
  mode: "0755"
  owner: root
  group: root
  content: |
   [elastic-7.x]
   name=Elastic repository for 7.x packages
   baseurl=https://artifacts.elastic.co/packages/7.x/yum
   gpgcheck=1
   gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
   enabled=1
   autorefresh=1
   type=rpm-md

 "/etc/filebeat/filebeat.yml":
  mode: "0755"
  owner: root
  group: root
  content: |
   filebeat.inputs:
    - type: log
      enabled: true
      paths:
       - /var/log/*.log
    output.logstash:
     hosts: ["172.16.0.164:5044"]

commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.8.rpm"
    cwd: /home/ec2-user

