files:
 "/home/ec2-user/fbinstaller.sh":
  mode: "0755"
  owner: root
  group: root
  content: |
   if service --status-all | grep -Fq 'filebeat'; then
    echo FileBeat service exists > filebeatstatus.txt
   else
    echo FileBeat service does not exist > filebeatstatus.txt
    curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.8.0-x86_64.rpm
    rpm -ivh --replacepkgs filebeat-7.8.0-x86_64.rpm
    service filebeat start
   fi
 "/var/log/hopewell-api-STG.log":
  mode: "0755"
  owner: root
  group: root
  content: |
   ''
 "/etc/filebeat/filebeat.yml":
  mode: "0755"
  owner: root
  group: root
  content: |
   filebeat.inputs:
   - type: log
     enabled: true
     paths:
       - /var/log/*.log
   - type: filestream
     enabled: false
     paths:
       - /var/log/*.log
   filebeat.config.modules:
    path: ${path.config}/modules.d/*.yml
    reload.enabled: false
   setup.template.settings:
    index.number_of_shards: 1
   setup.kibana:
   output.logstash:
    hosts: ["172.16.0.164:5044"]
   processors:
     - add_host_metadata:
         when.not.contains.tags: forwarded
     - add_cloud_metadata: ~
     - add_docker_metadata: ~
     - add_kubernetes_metadata: ~

commands:
  1_command:
    command: "./fbinstaller.sh"
    cwd: /home/ec2-user
